aside .nav-stacked{
    list-style-type: none;
}
aside .btn-default{
    border: none;
    border-left: 1px solid #cccccc;
}
aside .panel-heading{
    font-size: 12pt;
    font-weight: bold;
}
aside .panel-body{
    padding: 0;
}
.title{
    font-size: 14pt;
    font-weight: bold;
    background-color: #333333;
    color: #ffffff;
    padding:12px;
}
aside .form-control{
    border-radius: 0 0 0 6px;
    border:none;
}
.thumb{
    margin: 10px 0;
    width: 100%;
    padding-bottom: 100%;
    background-color: #9acfea;
    background-size: cover;
    background-position:center;
    overflow: hidden;
}
.thumb:hover{
    box-shadow: 2px 2px 5px #3c3c3c;
}